# ignore everything
/*
/*/

!.gitignore

!/Typora/
/Typora/*
!/Typora/themes

!/dunst/

!/conky/

!/neofetch/

!/zsh/

!/picom/

!/lazygit/
/lazygit/*
!/lazygit/config.yml

!/pip/

!README.md

!ranger/
